*{
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .main a {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.05) , 2px 2px 5px rgba(255, 255, 255, 0.05);
} */

.box {
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid black;
    border-radius: 50px;
    overflow: hidden;
}

.button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #b3c6e4;
    border-radius: 50px;
    font-size: 1.5rem;
    font-family: cursive;
    display: flex;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.box:hover > .button {
    transform: translateY(100%);
}

.box i {
    cursor: pointer;
    position: absolute;
}

.box i:nth-child(2){
    top: -35px;
    left: 25px;
    background: linear-gradient(45deg , #f09433 0% , #e6683c 25% , #dc2743 50% , #cc2366 75% , #bc1888 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: all 0.3s;
    transition-delay: 0.1s;
}

.box i:nth-child(3){
    top: -35px;
    background: #3b5998;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: all 0.3s;
    transition-delay: 0.2s;
}

.box i:nth-child(4){
    top: -35px;
    right: 25px;
    transition: all 0.3s;
    transition-delay: 0.3s;
}

.box:hover > i{
    top: 10px;
}